[Fonte: Google](https://www.google.com/covid19/mobility/)

In [1]:
import pandas as pd

In [2]:
# Base de dados
df = pd.read_csv("2020_BR_Region_Mobility_Report.csv")
df

C:\ProgramData\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (5) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,country_region_code,country_region,sub_region_1,sub_region_2,metro_area,iso_3166_2_code,census_fips_code,place_id,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-15,5.0,4.0,-5.0,8.0,6.0,0.0
1,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-16,2.0,3.0,-13.0,3.0,0.0,1.0
2,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-17,-2.0,0.0,-12.0,9.0,19.0,-1.0
3,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-18,-3.0,-1.0,-11.0,9.0,15.0,-1.0
4,BR,Brazil,NaN,NaN,NaN,NaN,NaN,ChIJzyjM68dZnAARYz4p8gYVWik,2020-02-19,-1.0,-2.0,-5.0,8.0,14.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
590684,BR,Brazil,State of Tocantins,Tocantinópolis,NaN,NaN,NaN,ChIJdy1nSeuG2pIR7Nmgv2Wq2uo,2020-12-26,NaN,NaN,NaN,NaN,-2.0,NaN
590685,BR,Brazil,State of Tocantins,Tocantinópolis,NaN,NaN,NaN,ChIJdy1nSeuG2pIR7Nmgv2Wq2uo,2020-12-28,NaN,NaN,NaN,NaN,-11.0,NaN
590686,BR,Brazil,State of Tocantins,Tocantinópolis,NaN,NaN,NaN,ChIJdy1nSeuG2pIR7Nmgv2Wq2uo,2020-12-29,NaN,NaN,NaN,NaN,-10.0,NaN
590687,BR,Brazil,State of Tocantins,Tocantinópolis,NaN,NaN,NaN,ChIJdy1nSeuG2pIR7Nmgv2Wq2uo,2020-12-30,NaN,NaN,NaN,NaN,-12.0,NaN
590688,BR,Brazil,State of Tocantins,Tocantinópolis,NaN,NaN,NaN,ChIJdy1nSeuG2pIR7Nmgv2Wq2uo,2020-12-31,NaN,NaN,NaN,NaN,-22.0,NaN

In [3]:
# colunas no df
df.columns

Index(['country_region_code', 'country_region', 'sub_region_1', 'sub_region_2',
       'metro_area', 'iso_3166_2_code', 'census_fips_code', 'place_id', 'date',
       'retail_and_recreation_percent_change_from_baseline',
       'grocery_and_pharmacy_percent_change_from_baseline',
       'parks_percent_change_from_baseline',
       'transit_stations_percent_change_from_baseline',
       'workplaces_percent_change_from_baseline',
       'residential_percent_change_from_baseline'],
      dtype='object')

In [4]:
# subset com colunas de interesse
di = df[['date','retail_and_recreation_percent_change_from_baseline', 'grocery_and_pharmacy_percent_change_from_baseline',
         'parks_percent_change_from_baseline','transit_stations_percent_change_from_baseline',
         'workplaces_percent_change_from_baseline','residential_percent_change_from_baseline']]
di

,date,retail_and_recreation_percent_change_from_baseline,grocery_and_pharmacy_percent_change_from_baseline,parks_percent_change_from_baseline,transit_stations_percent_change_from_baseline,workplaces_percent_change_from_baseline,residential_percent_change_from_baseline
0,2020-02-15,5.0,4.0,-5.0,8.0,6.0,0.0
1,2020-02-16,2.0,3.0,-13.0,3.0,0.0,1.0
2,2020-02-17,-2.0,0.0,-12.0,9.0,19.0,-1.0
3,2020-02-18,-3.0,-1.0,-11.0,9.0,15.0,-1.0
4,2020-02-19,-1.0,-2.0,-5.0,8.0,14.0,-1.0
...,...,...,...,...,...,...,...
590684,2020-12-26,NaN,NaN,NaN,NaN,-2.0,NaN
590685,2020-12-28,NaN,NaN,NaN,NaN,-11.0,NaN
590686,2020-12-29,NaN,NaN,NaN,NaN,-10.0,NaN
590687,2020-12-30,NaN,NaN,NaN,NaN,-12.0,NaN
590688,2020-12-31,NaN,NaN,NaN,NaN,-22.0,NaN

In [5]:
# renomear colunas
di.columns = ['date','retail','grocery','parks','transit','workplaces','residential']
di

              date  retail  grocery  parks  transit  workplaces  residential
0       2020-02-15     5.0      4.0   -5.0      8.0         6.0          0.0
1       2020-02-16     2.0      3.0  -13.0      3.0         0.0          1.0
2       2020-02-17    -2.0      0.0  -12.0      9.0        19.0         -1.0
3       2020-02-18    -3.0     -1.0  -11.0      9.0        15.0         -1.0
4       2020-02-19    -1.0     -2.0   -5.0      8.0        14.0         -1.0
...            ...     ...      ...    ...      ...         ...          ...
590684  2020-12-26     NaN      NaN    NaN      NaN        -2.0          NaN
590685  2020-12-28     NaN      NaN    NaN      NaN       -11.0          NaN
590686  2020-12-29     NaN      NaN    NaN      NaN       -10.0          NaN
590687  2020-12-30     NaN      NaN    NaN      NaN       -12.0          NaN
590688  2020-12-31     NaN      NaN    NaN      NaN       -22.0          NaN

[590689 rows x 7 columns]

In [7]:
# Criar coluna "month"
di['date'] = pd.to_datetime(df['date']) # converte srt para date type
di['month'] = di['date'].dt.month       # cria coluna com nº do mês
di

C:\Users\HOLOSM~1\AppData\Local\Temp/ipykernel_9280/1914447093.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  di['date'] = pd.to_datetime(df['date'])
C:\Users\HOLOSM~1\AppData\Local\Temp/ipykernel_9280/1914447093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  di['month'] = di['date'].dt.month

,date,retail,grocery,parks,transit,workplaces,residential,month
0,2020-02-15,5.0,4.0,-5.0,8.0,6.0,0.0,2
1,2020-02-16,2.0,3.0,-13.0,3.0,0.0,1.0,2
2,2020-02-17,-2.0,0.0,-12.0,9.0,19.0,-1.0,2
3,2020-02-18,-3.0,-1.0,-11.0,9.0,15.0,-1.0,2
4,2020-02-19,-1.0,-2.0,-5.0,8.0,14.0,-1.0,2
...,...,...,...,...,...,...,...,...
590684,2020-12-26,NaN,NaN,NaN,NaN,-2.0,NaN,12
590685,2020-12-28,NaN,NaN,NaN,NaN,-11.0,NaN,12
590686,2020-12-29,NaN,NaN,NaN,NaN,-10.0,NaN,12
590687,2020-12-30,NaN,NaN,NaN,NaN,-12.0,NaN,12
590688,2020-12-31,NaN,NaN,NaN,NaN,-22.0,NaN,12

In [8]:
# Agrupar por mês
dm = di[['month','retail','grocery','parks','transit','workplaces','residential']]
dm

        month  retail  grocery  parks  transit  workplaces  residential
0           2     5.0      4.0   -5.0      8.0         6.0          0.0
1           2     2.0      3.0  -13.0      3.0         0.0          1.0
2           2    -2.0      0.0  -12.0      9.0        19.0         -1.0
3           2    -3.0     -1.0  -11.0      9.0        15.0         -1.0
4           2    -1.0     -2.0   -5.0      8.0        14.0         -1.0
...       ...     ...      ...    ...      ...         ...          ...
590684     12     NaN      NaN    NaN      NaN        -2.0          NaN
590685     12     NaN      NaN    NaN      NaN       -11.0          NaN
590686     12     NaN      NaN    NaN      NaN       -10.0          NaN
590687     12     NaN      NaN    NaN      NaN       -12.0          NaN
590688     12     NaN      NaN    NaN      NaN       -22.0          NaN

[590689 rows x 7 columns]

In [9]:
dm.groupby('month').agg('median')

       retail  grocery  parks  transit  workplaces  residential
month
2        -4.0      1.0   -7.0     -3.0         7.0          0.0
3       -20.0     -1.0  -30.0    -20.0         0.0          2.0
4       -54.0    -13.0  -46.0    -55.0       -28.0         16.0
5       -46.0     -3.0  -43.0    -49.0       -16.0         14.0
6       -37.0      2.0  -39.0    -43.0        -8.0         13.0
7       -31.0      8.0  -34.0    -38.0        -6.0         12.0
8       -24.0     12.0  -29.0    -31.0        -4.0         10.0
9       -19.0     13.0  -27.0    -27.0         0.0          8.0
10      -14.0     19.0  -25.0    -19.0         3.0          7.0
11      -11.0     19.0  -28.0    -18.0         5.0          6.0
12       -6.0     26.0  -23.0    -15.0         3.0          6.0

In [10]:
dm.to_csv("isolamento2020")